
<div class="trialpartWrapper" style="text-align: left;">
<p>
Привет!
</p>
<p>
Спасибо, что участвуешь в нашем эксперименте. Мы попросим тебя угадывать слова в предложениях.
</p>
<p>
Сначала ты увидишь пустую строку и подсказку "Введите первое слово". Введи любое слово, какое захочешь, и нажми Enter. Угадать настоящее первое слово на данном этапе практически невозможно. После этого ты увидишь истинное первое слово. Попробуй, основывась на известном первом слове, угадать второе слово в предложении. Твои шансы угадать уже выше, чем с первым словом. Продолжай угадывать все последующие слова, основываясь на информации, которая содержится во всех предыдущих словах контекста.
</p>
<p>
Задание не ограничено по времени, так как оно рассчитано не на скорость, а на качество. Не спеши — ты можешь сделать перерыв в любой момент и отдыхать столько, сколько захочешь.
</p>
<p>
Нажми кнопку «Далее».
</p>

    <%= continueButton() %>
</div>



